<nav class="navbar navbar-expand-md navbar-light bg-light ">
  <a class="navbar-brand" href="/"><i class="fa fa-gamepad"></i> Rangers</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  {{#if session.cart.totalQty}}
  <ul class="nav navbar-nav navbar-right">
    <li class="nav-item">
      <a class="nav-link farsi" href="/shopping-cart">
        <span class="badge-info badge-pill"> {{session.cart.totalQty}} </span>
        <i class="fa fa-shopping-cart"><span class="farsi"> سبد خرید</span></i>
      </a>
    </li>
  </ul>
  {{/if }}






  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align: right;">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span class="farsi">حساب کاربری </span><i class="fa fa-user"></i class="fa fa-user">
        </a>
        <div class="dropdown-menu  fade in" aria-labelledby="navbarDropdown" 
        style="text-align: right; float: right">

          {{#unless login}}
          <a class="dropdown-item" href="/user/signup"><span class="farsi">ثبت‌نام</span></a>
          <a class="dropdown-item" href="/user/signin"><span class="farsi">ورود</span></a>
          {{else}}
          <a class="dropdown-item" href="/user/profile"><span class="farsi">پروفایل</span></a>
          {{!-- <div class="dropdown-divider"></div> --}}
          <a class="dropdown-item" href="/user/signout"><span class="farsi">خروج</span></a>
          {{/unless }}
        </div>
      </li>
      {{!-- <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li> --}}
    </ul>
    <form action="/search" method="POST" class="form-inline my-2 my-lg-0" style="justify-content: center;">
      <input class="form-control mr-sm-2 circleCorner" dir="rtl" type="search" placeholder="دنبال بازی می‌گردی؟ بنویس"
        aria-label="Search" style="font-family: Yekan">
      <button class="btn pill btn-outline-success my-2 my-sm-0 farsi circleCorner" type="submit"><span
          class="fa fa-search"></spanc>
          <span class="">جستجو</span>
      </button>
    </form>
  </div>
</nav>