<!-- Navbar Area -->
<div class="egames-main-menu" id="sticker">
  <div class="classy-nav-container breakpoint-off">
    <div class="container">
      <!-- Menu -->
      <nav class="classy-navbar justify-content-between" id="egamesNav">

        <!-- Navbar Toggler -->
        <div class="classy-navbar-toggler">
          <span class="navbarToggler"><span></span><span></span><span></span></span>
        </div>

        <!-- Menu -->
        <div class="classy-menu">

          <!-- Close Button -->
          <div class="classycloseIcon">
            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
          </div>

          <!-- Nav Start -->
          <div class="classynav">
            {{!-- <div class=" d-flex align-items-center">
            </div> --}}

            <ul>
              <li>
                <div class="logo">
                  <a href="/"><img src="/img/core-img/logo.png" alt=""></a>
                </div>
              </li>
              {{!-- <li><a href="/">خانه</a></li> --}}

              <li><a href="/contactUs">ارتباط با ما</a></li>
              <li>
                <a href="/shopping-cart"></i> سبد خرید <i class="fa fa-shopping-cart"></i><span
                    class="badge-info badge-pill">{{session.cart.totalQty}} </span> </a> </li>

              <li>
                <div class="top-search-area">
                  <form action="#" method="post">
                    <input type="search" name="top-search" id="topSearch" placeholder="Search">
                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                  </form>
                </div>
              </li>

              <li>
                <div class="">
                  <a href="/user/signin"><span>ورود/ثبت‌نام</span> <i class="fa fa-lock" aria-hidden="true"></i></a>
                </div>
              </li>

            </ul>

          </div>
          <!-- Nav
                    End -->
        </div>
      </nav>
    </div>
  </div>
</div>