{{> alerts/alert}}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>ورود</h1>
        {{!-- {{# if hasErrors}}
        <div class="alert-danger">
            {{# each messages}}
            <p>{{this}}</p>
            {{/each}}
        </div>
        {{/if }} --}}
        <form action="/user/signin" method="POST">
            <div class="form-group">
                <label for="email">آدرس ایمیل</label>
                <input class="form-control" type="text" id="email" name="email" required>
            </div>

            <div class="form-group">
                <label for="password">رمزعبور</label>
                <input class="form-control" type="password" id="password" name="password" required>
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button class="btn btn-primary" type="submit">ورود</button>
        </form>

        <p>می‌خوای تازه ثبت‌نام کنی؟<a href="/user/signup">اینجارو بمال</a></p>

    </div>
</div>