<h2>Products</h2>
<hr>

<table class="table table-hover ">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Status</th>
            <th scope="col">User</th>
            <th scope="col">Order</th>
            <th scope="col">Total Price</th>

        </tr>
    </thead>
    {{#each orders}}

    <tr>
        <td>{{@index}}</td>
        <td>{{this.status}}</td>
        <td>{{this.user}}</td>
        <td></td>
        <td></td>
    </tr>

    {{/each}}

</table>